.sobre__titulo {
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 4.325em;
    font-weight: bold;
    line-height: 100%;
    width: 31vw;
}

@media only screen and (max-width: 600px) {
    .sobre__titulo {
        font-size: 2.5em ;
    }
}

@media only screen and (max-width: 768px) {
    .sobre__titulo { 
       margin-top: 85px;
    }
}

@media only screen and (max-width: 992px) {
    .sobre__titulo {
       width: 90vw;
    }
}