.redeSociais__titulo {
    font-family:  'Roboto Condensed', sans-serif;
    color: #716565;
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: 0.8em;
}

@media only screen and (max-width: 600px) {
    .redeSociais__titulo{
        text-align: center;
    }
}

