.principal__imagem {
    background-image: url(../../img/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #716565;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 5.1875em;
    font-weight: bold;
}